https://gemini.google.com/u/0/app/2cf30af2b4491cf7?hl=es

In [18]:
import sqlite3 as sql
import pandas as pd
from icecream import ic
# root = sql.connect("C:\\Users\\santi\\Programación\\Programacion-General---Prueba\\SQL Dalto\\.database\\movies\\movie.sqlite")

with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
    cursor = root.cursor()
    cursor.execute("SELECT title FROM IMDB")
    result = cursor.fetchall()
    root.commit()
    
    df = pd.DataFrame(result)
    print(df.head(2))

                         0
0  12 Years a Slave (2013)
1         127 Hours (2010)

### Ejercicio 1 -- Cuantas Peliculas hay en la base de datos

In [5]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("SELECT count(title) as numero_de_peliculas from IMDB")
  result = cursor.fetchall()
  root.commit()
  
  print(result)

[(117,)]

### Ejercicio 2 Cuales son los titulos de las 10 peliculas mejor calificadas segun el rating

In [7]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("""Select Title from IMDB Order BY Rating DESC LIMIT 10""")
  result = cursor.fetchall()
  
  print(pd.DataFrame(result))

                                0
0                Inception (2010)
1             Interstellar (2014)
2                 Whiplash (2014)
3         Django Unchained (2012)
4    The Dark Knight Rises (2012)
5              Toy Story 3 (2010)
6            Hacksaw Ridge (2016)
7               Inside Out (2015)
8               La La Land (2016)
9  The Wolf of Wall Street (2013)

###  Ejercicio 3 Cual es la pelicula con mayor recaudacion Mundial

In [3]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("Select title, worldwide From IMDB as im, Earning as er Where im.Movie_Id = er.Movie_id Order By Worldwide Desc limit 1")
  
  result = cursor.fetchall()
  print(result)

[('Star Wars: The Force Awakens (2015)', 2068223624.0)]

### EJERCICIO 4: ¿Qué géneros de películas están presentes en la base de datos?

In [8]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("SELECT genre FROM genre")
  result = cursor.fetchall()
  
  print(pd.DataFrame(result))

             0
0    Biography
1    Adventure
2       Comedy
3       Comedy
4        Drama
..         ...
346
347     Comedy
348     Sci-Fi
349     Sci-Fi
350     Comedy

[351 rows x 1 columns]

### EJERCICIO 5: ¿Cuántas películas tienen un presupuesto mayor a 100 millones de dólares?

In [8]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("Select count(title) from IMDB Where Budget > 100000000")
  result = cursor.fetchall()
  
  print(pd.DataFrame(result))

    0
0  36

### EJERCICIO 6: ¿Qué porcentaje de votos totales provienen de usuarios menores de 18 años?
No se cual es la columna de edad(si es que hay)

### EJERCICIO 7 ¿Cuál es el género de película más común?

In [4]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("Select count(genre), genre From genre Group By genre Order by count(genre) DESC Limit 1")
  result = cursor.fetchall()
  
  print(result)

[(77, 'Drama')]

 ### EJERCICIO 9:  ¿Cuál es el promedio de calificación de las películas por género?

In [5]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("Select genre, round(avg(VotesM), 2) as calificacion_promedio  From genre as gen INNER JOIN IMDB as im on gen.Movie_ID= im.Movie_ID Group By genre")
  
  resultado = cursor.fetchall()
  
  print(pd.DataFrame(resultado))

            0     1
0              7.86
1      Action  7.84
2   Adventure  7.84
3   Animation  7.82
4   Biography  7.83
5      Comedy  7.80
6       Crime  7.87
7       Drama  7.84
8      Family  7.60
9     Fantasy  7.73
10    History  7.92
11     Horror  7.50
12      Music  8.23
13    Musical  7.50
14    Mystery  7.89
15    Romance  7.75
16     Sci-Fi  7.96
17      Sport  7.80
18   Thriller  7.85
19        War  7.50
20    Western  8.05

### EJERCICIO 11: ¿Cuáles son las 5 películas con mayor recaudación doméstica y sus respectivos géneros?

In [6]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("Select title, Domestic, genre from IMDB as im INNER JOIN earning as ear, genre as ge ON im.Movie_ID = ear.Movie_ID and im.Movie_ID = ge.Movie_ID Order BY Domestic DESC Limit 5")
  
  result = cursor.fetchall()
  
  print(pd.DataFrame(result))

                                     0          1          2
0  Star Wars: The Force Awakens (2015)  936662225     Action
1  Star Wars: The Force Awakens (2015)  936662225  Adventure
2  Star Wars: The Force Awakens (2015)  936662225    Fantasy
3                  The Avengers (2012)  623357910
4                  The Avengers (2012)  623357910     Action

### EJERCICIO 12: ¿Cuál es el promedio de presupuesto de las películas de acción?

In [14]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("SELECT avg(Budget) as promedio_acccion, genre FROM IMDB as im INNER JOIN genre as ge on im.Movie_id = ge.Movie_id WHERE genre = Action")
  
  result = cursor.fetchall()
  
  print(result)
  
  #! No funciona aqui ni en sql de VSCode pero si funciona en el nativo

OperationalError: no such column: Action

### Ejercicio 13: ¿Cuál es la película con la mayor diferencia entre los votos de hombres y mujeres?

In [7]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("Select title, (CVotesMale - CVotesFemale) as diferencia from IMDB Order by diferencia DESC Limit 1")
  result = cursor.fetchall()
  
  print(pd.DataFrame(result))

                  0       1
0  Inception (2010)  804522

### Ejercicio 14: ¿Cuáles son las 5 películas más populares de cada género (considerando el número total de votos)?

In [5]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("""SELECT title, genre, "TotalVotes"
FROM (
    SELECT title, genre, "TotalVotes",
           ROW_NUMBER() OVER (PARTITION BY genre ORDER BY "TotalVotes" DESC) as rn
    FROM "IMDB" as im
    LEFT JOIN genre as gen on im."Movie_id" = gen."Movie_id"
) as subquery
WHERE rn <= 5
ORDER BY genre, "TotalVotes" DESC""")
  result = cursor.fetchall()
  print(pd.DataFrame(result))

                                           0         1        2
0               The Dark Knight Rises (2012)            1240780
1                    Django Unchained (2012)            1056822
2                        The Avengers (2012)            1056773
3                      Shutter Island (2010)             871391
4   The Hobbit: An Unexpected Journey (2012)             675678
..                                       ...       ...      ...
81                            Skyfall (2012)  Thriller   552367
82                               Fury (2014)       War   337571
83                     The Book Thief (2013)       War   107880
84                   Django Unchained (2012)   Western  1056822
85                          True Grit (2010)   Western   257670

[86 rows x 3 columns]

### Ejercicio 15: ¿Cuál es el promedio de presupuesto de las películas de animación comparado con las de acción?

In [13]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("Select avg(IM.Budget) as promedio_por_genero, gen.genre From IMDB as IM INNER JOIN genre as gen on IM.MOVIE_ID = gen.MOVIE_ID  Group by genre") 
  result = cursor.fetchall()
  result_frame = result
  print(f"Animation: {result_frame[3]}; Action: {result_frame[1]}")

Animation: (141938461.53846154, 'Animation'); Action: (131287878.78787878, 'Action')

### Ejercicio 17:  ¿Qué género tiene la mayor proporción de películas con una calificación superior a 8?

In [18]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("""SELECT genre, count(*) as 'numero de peliculas' FROM "IMDB" as IM
  INNER JOIN "genre" as gen on "IM"."Movie_id" = "gen"."Movie_id"
  WHERE "Rating" > 8
  GROUP BY genre""")
  result = cursor.fetchall()
  print(pd.DataFrame(result))

            0   1
0               8
1      Action   9
2   Adventure  10
3   Animation   4
4   Biography   6
5      Comedy   6
6       Crime   4
7       Drama  15
8     Fantasy   1
9     History   3
10      Music   2
11    Mystery   3
12     Sci-Fi   5
13      Sport   1
14   Thriller   3
15    Western   1

### Ejercicio 18 --¿Qué porcentaje de las películas recuperan su inversión inicial (es decir, la recaudación mundial es mayor al presupuesto)?

In [58]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("""Select count(*) from  IMDB as IM left join earning as ear on IM.Movie_id = ear.Movie_id Where ear.Worldwide > IM.Budget""")
  peliculas_con_beneficios =cursor.fetchall()
  cursor.execute("""Select count(*) from IMDB""")
  total_peliculas = cursor.fetchall()
  
  ic((total_peliculas))
  ic(peliculas_con_beneficios)
  for j,k in zip(total_peliculas, peliculas_con_beneficios):
    total = j[0]
    benefic = k[0]
    print(f"Hay {total} peliculas en total de las cuales {benefic} peliculas han tenido beneficios y esto equivale al {round((benefic/total) * 100)} % ")

ic| total_peliculas: [(117,)]
ic| peliculas_con_beneficios: [(108,)]

Hay 117 peliculas en total de las cuales 108 peliculas han tenido beneficios y esto equivale al 92 %

### Ejercicio 19: ¿Cuáles son las películas que tienen un rating superior al promedio de rating de todas las películas?

In [72]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("""Select round(avg(Rating)) from  IMDB""")
  promedio_peli = cursor.fetchall()
  ic(promedio_peli)
  
  cursor.execute(f"""Select title, Rating  from IMDB Where Rating > {promedio_peli[0][0]} Order by Rating Desc""")
  result = cursor.fetchall()
  print(pd.DataFrame(result))

ic| promedio_peli: [(8.0,)]

                                      0    1
0                      Inception (2010)  8.8
1                   Interstellar (2014)  8.6
2                       Whiplash (2014)  8.5
3               Django Unchained (2012)  8.4
4          The Dark Knight Rises (2012)  8.4
5                    Toy Story 3 (2010)  8.3
6                  Hacksaw Ridge (2016)  8.2
7                     Inside Out (2015)  8.2
8                     La La Land (2016)  8.2
9        The Wolf of Wall Street (2013)  8.2
10                       Warrior (2011)  8.2
11              12 Years a Slave (2013)  8.1
12                     Gone Girl (2014)  8.1
13       Guardians of the Galaxy (2014)  8.1
14      How to Train Your Dragon (2010)  8.1
15                          Lion (2016)  8.1
16            Mad Max: Fury Road (2015)  8.1
17                     Prisoners (2013)  8.1
18                          Rush (2013)  8.1
19                Shutter Island (2010)  8.1
20                     Spotlight (2015)  8.1
21  Star Wars: The Force Awakens (2015)  8.1
22                  The Avengers (2012)  8.1
23      The Grand Budapest Hotel (2014)  8.1
24                      The Help (2011)  8.1
25            The Imitation Game (2014)  8.1
26                      Zootopia (2016)  8.1

### Ejercicio 20: ¿Cuál es la posición de cada película en términos de recaudación mundial dentro de su género?

In [ ]:
with sql.connect("C:/Users/santi/Programación/Programacion-General---Prueba/SQL Dalto/.database/movies/movie.sqlite") as root:
  cursor = root.cursor()
  cursor.execute("""SELECT name FROM sqlite_master WHERE type='table';""")
  result = cursor.fetchall()
  colums = [i[0] for i in result]
  for i in colums:
    cursor.execute(f"""SELECT title FROM "IMDB" as IM
  LEFT JOIN earning as ear on IM."Movie_id" = ear."Movie_id"
  LEFT JOIN genre as gen on  "IM"."Movie_id" = gen."Movie_id"
  WHERE gen.genre = {i}
  ORDER BY ear."Worldwide" DESC;""")

  
#! Problema

OperationalError: no such column: IMDB