#### ¿Cuántos empleados nacieron después del 1 de junio de 1965? Crea un informe que diga El empleado Nació el N”, donde “N” representa el nombre completo y la fecha de nacimiento.

In [2]:
import sqlite3
import pandas as pd

# square = lambda n : n*n
conn = sqlite3.connect("C:/Users/santi/Programación/SQL Dalto/Northwind/Northwind.db") 
# conn.create_function('SQUARE', 1, square)

courser = conn.cursor()
courser.execute("""
                SELECT FirstName,BirthDate FROM Employees WHERE BirthDate > '1965-06-01'""")
result = courser.fetchall()

conn.commit()
courser.close() 
conn.close()  
result_pd = pd.DataFrame(result)
print("El empleado nacio el")
print(result_pd)

El empleado nacio el
       0           1
0  Nancy  1968-12-08
1   Anne  1969-07-02

C:\Users\santi\AppData\Local\Temp\ipykernel_12616\1347757077.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

#### Repite el informe anterior, pero solo para los empleados con los ID 8, 7, 3 y 10

In [3]:
import sqlite3
import pandas as pd

# square = lambda n : n*n
conn = sqlite3.connect("C:/Users/santi/Programación/SQL Dalto/Northwind/Northwind.db") 
# conn.create_function('SQUARE', 1, square)

courser = conn.cursor()
courser.execute("""
                SELECT * from Employees""")
result = courser.fetchall()

conn.commit()
courser.close() 
conn.close()  
result_pd = pd.DataFrame(result)
print("El empleado nacio el")
print(result_pd)

El empleado nacio el
     0          1         2           3            4  \
0    1    Davolio     Nancy  1968-12-08   EmpID1.pic
1    2     Fuller    Andrew  1952-02-19   EmpID2.pic
2    3  Leverling     Janet  1963-08-30   EmpID3.pic
3    4    Peacock  Margaret  1958-09-19   EmpID4.pic
4    5   Buchanan    Steven  1955-03-04   EmpID5.pic
5    6     Suyama   Michael  1963-07-02   EmpID6.pic
6    7       King    Robert  1960-05-29   EmpID7.pic
7    8   Callahan     Laura  1958-01-09   EmpID8.pic
8    9  Dodsworth      Anne  1969-07-02   EmpID9.pic
9   10       West      Adam  1928-09-19  EmpID10.pic
10  11        Wes      Adam        None         None

                                                    5
0   Education includes a BA in psychology from Col...
1   Andrew received his BTS commercial and a Ph.D....
2   Janet has a BS degree in chemistry from Boston...
3   Margaret holds a BA in English literature from...
4   Steven Buchanan graduated from St. Andrews Uni...
5   Michael is a graduate of Sussex University (MA...
6   Robert King served in the Peace Corps and trav...
7   Laura received a BA in psychology from the Uni...
8   Anne has a BA degree in English from St. Lawre...
9                                        An old chum.
10                                               None